@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
.box {
    margin: 0;
    margin-right: 0;
    width: 10em;
    height: 10em;
    line-height: 8em;
    text-align: center;
    border-radius: 100%;
    border: solid 1px #F0F2F3;
    background-color: #F0F2F3;
    color: #91877F;
    position: relative;
    cursor: pointer;
}
.font {
    font-family: 'Gothic A1';
    font-weight: bold;
    font-size: 20px;
}
.Profile {
    top : 3%;
    left : 65%;
}

.GoogleDrive {
    bottom : 5%;
    left : 20%;
}

.Board {
    bottom : 3%;
    left : 60%;
}
.Lab {
    bottom : 3%;
    left: 18%;
}
.box:hover {
    animation-duration: 0.5s;
    animation-name: box-hover;
    animation-fill-mode: forwards;
}
@keyframes box-hover {
    from {

    }
    to {
        background-color: #CDC5C2;
        color: #F0F2F3;
    }
}